{% extends "index.html" %}

{% block content %}



    <div class="content">
        <div id="tab" class="columns">
            <div class="column is-2 list-category">
                <div class="columns is-vcentered has-text-centered">
                    <div class="column"><span class="is-size-4">Категории</span></div>
                    <div v-cloak
                         v-for="(list, index) in listCategory">
                        <div class="column">
                            <a class="button is-fullwidth"
                               v-on:click="loadCat(index)"
                               :disabled="list.activ">
                                ${list.name}
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <a class="button is-fullwidth is-success" v-on:click="noModal">Редактировать</a>
                    </div>

                </div>

            </div>
            <div class="column is-7 is-offset-2">
                <table class=table>
                    <thead>
                    <tr>
                        <th>
                            Вопрос
                        </th>
                        <th>
                            Ответ
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr is="tdinput"
                        v-for="(tdinput,index) in tdArray"
                        v-bind:key="tdinput.id"
                        v-bind:id="index"
                        v-bind:qtext="tdinput.qtext"
                        v-bind:atext="tdinput.atext"
                        ref="td">

                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pult">
                <a class="button is-info" @click="svTD">Сохранить все</a>
                <br>
                <br>
                <a class="button is-success"
                   @click="addTD"
                >Добавить</a>
                <br>
                <br>
                <a class="button is-primary is-outlined"
                   v-bind:class="{ 'is-loading': loadButtom }"
                   @click="refrDp"
                >Обучить</a>
                <br>
                <br>
            </div>
            {#Модальное окно #}
            <div class="modal" v-if="modal" v-cloak>
                <div class="modal-background" v-on:click="offModal"></div>
                <div class="modal-content">
                    <div class="box">
                        <div v-cloak
                             v-for="(list, index) in listCategory">

                            <div class="columns is-vcentered">
                                <div class="column is-offset-1">
                                    <input class="input" type="text" v-bind:value="list.name"
                                           v-on:input="editCat(index, $event.target.value )">
                                    <div class="column is-12 has-background-danger has-text-centered modal-alert"
                                    v-if="list.alert"
                                        >${ list.alert }</div>
                                </div>
                                <div class="column is-2">
                                    <a class="delete" v-on:click="deletCat(index)"></a>
                                </div>
                            </div>

                        </div>
                        <div class="column is-8 is-offset-2">
                            <a class="button is-fullwidth" v-on:click="addCat"> Добавить</a>
                        </div>

                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" v-on:click="offModal"></button>
            </div>

        </div>
    </div>

    <template id="tdinput">
        <tr>
            <td>
            <span @click='edTable' v-if='vis'>
                ${ question }
            </span>
                <div v-else>
                    <textarea class='textarea' v-model="question"></textarea>
                </div>
            </td>
            <td>
            <span @click='edTable' v-if='vis'>
                ${ answer }
            </span>

                <div v-else>
                    <textarea class='textarea' v-model="answer"></textarea>
                    <a @click="svTable" class='button is-primary'>Сохранить</a>
                </div>
            </td>
            <td>
                <a class="delete" v-on:click="remTd()"></a>
            </td>
        </tr>
    </template>




{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock script %}