{% extends "index.html" %}

{% block content %}
<div class="content">
    <div id="tab" class="columns">
        <div class="column is-6 is-offset-3">
            <table class=table>
                <thead>
                    <tr>
                        <th>
                            Вопрос
                        </th>
                        <th>
                            Ответ
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr is="tdinput" 
                        v-for="(tdinput,index) in tdArray" 
                        v-bind:key="tdinput.id"
                        v-bind:id="index"
                        v-bind:qtext="tdinput.qtext" 
                        v-bind:atext="tdinput.atext"
                        v-on:remove="tdArray.splice(index, 1)">

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column is-3 pult">

            <a class="button is-info" @click="svTD">Сохранить все</a>
            
            <br>
            <br>

            <a class="button is-success" 
                @click="addTD"
            >Добавить</a>

            <br>
            <br>

            <a class="button is-primary is-outlined" 
                v-bind:class="{ 'is-loading': loadButtom }"
                @click="refrDp"
            >Обучить</a>

            <br>
            <br>

        </div>

    </div>

</div>

<template id="tdinput">
    <tr>
        <td>
            <span @click='edTable' v-if='vis'>
                ${ question }
            </span>
            <div v-else>
                <textarea class='textarea' v-model="question"></textarea>
            </div>
        </td>
        <td>
            <span @click='edTable' v-if='vis'>
                ${ answer }
            </span>

            <div v-else>
                <textarea class='textarea' v-model="answer"></textarea>
                <a @click="svTable" class='button is-primary'>Сохранить</a>
            </div>
        </td>
        <td>
            <a class="delete" v-on:click="$emit('remove')"></a>
        </td>
    </tr>
</template>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock script %}