<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>csv</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />

</head>

<body>
    <nav class="navbar nav-bar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
                <img class='imglogo' src="{{ url_for('static', filename='img/logo.png') }}">
            </a>
        </div>
    </nav>

    {% block content %}{% endblock content %}
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
{% block script %}{% endblock script %}
</html>