{% extends "index.html" %}

{% block content %}

    <div class="columns is-vcentered is-centered">
        <div class="column is-4 linkbox ">
            <div class="box">
                <h3 class='title is-3 has-text-centered'>Меню навигации</h3>
                <ul>
                    <li class="link">
                        <a href="/">Ты тут</a>
                    </li>
                    <li class="link">
                        <a href="/control/qa">Настройка</a>
                    </li>
                    <li class="link">
                        <a href="/api/Привет">api </a> скажи "Привет"
                    </li>
                    <li class="link">
                        <a href="/chat">Чат</a>
                    </li>

                    {% if current_user.is_anonymous %}
                        <li class="link">
                            <a href="/login">Логин</a>
                        </li>
                    {% else %}
                        <li class="link">
                            <a href="/logout">Выйти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}